@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}
@layer utilities {
  .clip-triangle {
    clip-path: polygon(50% 2%, 0% 100%, 100% 100%);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh; /* fallback for Js load */
  display: flex;
  scroll-behavior: smooth;
}
